.search-section {
            background-color: #ffe6cc;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }

.table th, .table td {
            text-align: center;
            vertical-align: middle;
        }

.detail-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .detail-row strong {
    flex-basis: 40%;
  }

  .detail-row span {
    flex-basis: 60%;
    text-align: left;
  }

.textarea {
            resize: none;
        }